apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podinfo-broken
  namespace: platform-lab
spec:
  ingressClassName: nginx
  rules:
    - host: podinfo-broken.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: podinfo
                port:
                  number: 9999
