apiVersion: apps/v1
kind: Deployment
metadata:
  name: oom-demo
  namespace: platform-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oom-demo
  template:
    metadata:
      labels:
        app: oom-demo
    spec:
      containers:
        - name: oom-demo
          image: python:3.12-slim
          command:
            - python
            - -c
            - |
              import time
              x=[]
              while True:
                  x.append('X' * 1024 * 1024)
                  time.sleep(0.05)
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 200m
              memory: 64Mi
